@import url(uno.css);
@import url(theme-son-of-obsidian.css);
@import url(svg-icons.css);

/* Modifications */

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.pre-with-code {
    white-space: pre-wrap;
    background: hsl(30,80%,90%);
}

.btn,
.navigation__item a {
  margin: 2px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 16px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 16px;
  padding: 0 2px;
}

.footer__copyright {
    margin: 0 20px 10px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  border-radius:100%;
}

.about-divider {
	width: 100%;
	margin: 10px 0px 20px 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.14);
 }
