---
layout: default
image: /img/bg.png
desc: Welcome to JEFworks, where Jean Fan works on bioinformatics and other fun stuff at the intersection of biology, statistics, and computer science. 
---

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-pencil" aria-hidden="true"></i></h1>
            <h3 class="text-center">Latest Publications</h3>
            <ul class="post-list-container">
		{% assign items = site.papers | reverse %}
                {% for post in items limit:3 %}
                <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> on {{ post.date | date_to_long_string }}</li>
                {% endfor %}
            </ul>
	    <a href="{{ site.baseurl }}/publications">
		<button type="button" class="btn btn-primary btn-block">
		    More Publications
		</button>
	    </a>
        </div>
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-rss-square" aria-hidden="true"></i></h1>
            <h3 class="text-center">Latest News</h3>
            <ul class="post-list-container">
		{% assign items = site.news | reverse %}
                {% for post in items limit:5 %}
                <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> on {{ post.date | date_to_long_string}}</li>
                {% endfor %}
            </ul>	    
	    <a href="{{ site.baseurl }}/allnews">
		<button type="button" class="btn btn-primary btn-block">
		    More News
		</button>
	    </a>
        </div>
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></h1>
            <h3 class="text-center">Latest Blog Posts</h3>
            <ul class="post-list-container">
                {% for post in site.posts limit:5 %}
                <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> on {{ post.date | date_to_long_string }}</li>
                {% endfor %}
            </ul>
	    <a href="{{ site.baseurl }}/allposts"> 
		<button type="button" class="btn btn-primary btn-block">
		    More Blog Posts
		</button>
	    </a>
        </div>
    </div>

</div>
