---
layout: default2
---

{% assign sorted = site.news | sort: 'date' | reverse %}
<h1>All News</h1> {% for page in sorted %}
{% assign currentdate = page.date | date: "%Y" %}
{% if currentdate != date %}
<h2 id="y{{currentdate}}">{{ currentdate }}</h2>
{% assign date = currentdate %}
{% endif %}
<li>
    <strong><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></strong>
    <span>on {{ page.date | date: "%B %e, %Y" }} {% if page.author %} by {{ page.author }}{% endif %}</span>
</li>
{% endfor %}
