---
title: Team
layout: default
sectionid: team
---

<div class="row">
    <div class="col-sm-6 col-md-4" align="center">
        <img src="{{ "/img/profile.jpg" | prepend: site.baseurl }}" class="img-responsive img-circle" alt="Jean Fan">
    </div>
    <div class="col-sm-6 col-md-8">
	<h2 class="header-light regular-pad">Dr. Jean Fan</h2>
	<h4>Assistant Professor.</h4>
	<p>I am an Assistant Professor in the <a href="https://www.bme.jhu.edu/" target="_blank">Department of Biomedical Engineering at Johns Hopkins University</a>. I was previously an NCI F99/K00 post-doctoral fellow in the lab of <a href="http://zhuang.harvard.edu/" target="_blank">Dr. Xiaowei Zhuang</a> at Harvard University. I received my PhD in Bioinformatics and Integrative Genomics at Harvard under the mentorship of <a href="http://pklab.med.harvard.edu/" target="_blank">Dr. Peter Kharchenko</a> at the Department of Biomedical Informatics and in close collaboration with <a href="http://wulab.dfci.harvard.edu/" target="_blank">Dr. Catherine Wu</a> at the Dana-Farber Cancer Institute. In my free time, I enjoy writing code to make <a href="https://jean.fan/art-with-code/" target="_blank">generative art</a> and to forward <a href="https://custemized.org/" target="_blank">STEM education.</a></p>
	<a href="https://jean.fan/" target="_blank"><li class="fa fa-fw fa-2x fa-home"></li></a> 
	<a href="https://www.twitter.com/jefworks" target="_blank"><li class="fa fa-fw fa-2x fa-twitter"></li></a> 
	<a href="https://www.github.com/jefworks" target="_blank"><li class="fa fa-fw fa-2x fa-github"></li></a> 
	<a href="https://www.linkedin.com/in/jeanfan" target="_blank"><li class="fa fa-fw fa-2x fa-linkedin"></li></a> 
	<a href="https://www.instagram.com/jefworks/" target="_blank"><li class="fa fa-fw fa-2x fa-instagram"></li></a>
	<a href="mailto:jeanfan@jhu.edu"><li class="fa fa-fw fa-2x fa-envelope"></li></a>
    </div>
</div>

<hr>

<h1 align="center">Meet the Team</h1>
<div id="my-team">
{% for pub in site.team %}
    {% if pub.alumni == null %}
    <p>{{ pub }}</p>
    {% endif %}
{% endfor %}
</div>
<script>
 var myList = document.querySelector('#my-team');
 for (var i = myList.children.length; i >= 0; i--) {
     myList.appendChild(myList.children[Math.random() * i | 0]);
 }
</script>

<hr>

<h1 align="center">Alumni</h1>
<br>
{% for pub in site.team %}
    {% if pub.alumni != null %}
        {{ pub }}
    {% endif %} 
{% endfor %}

