<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>JEFworks Lab - {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    
    <meta name="description" content="Welcome to the JEFworks Lab where Prof. Jean Fan and team work on computational software and statistical approaches to address questions in developmental and cancer biology. We are a bioinformatics research lab in the Department of Biomedical Engineering at Johns Hopkins University. We develop methods for analyzing single-cell spatially resolved transcriptomic sequencing and imaging data. We apply these methods to better understand the impact of cellular heterogeneity on cancer pathogenesis and prognosis.">
    <meta name="keywords" content="bioinformatics, single cell, spatial transcriptomics, spatially resolved transcriptomics, merfish, computational biology, research lab, JHU research opportunities">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}">

    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
    {% seo %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <script type="text/javascript" src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-35232680-3"></script>
    <script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-35232680-3');
    </script>    
    
</head>
