<header class="navbar navbar-fixed-top" role="navigation">
    <div class="container navbar-container">
	
	<div class="navbar-header">
	    
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="color:#fff">
		<i class="fa fa-bars"></i>
	    </button>

	    <a class="navbar-brand" href="{{ site.baseurl }}/">
		<span><img src="{{site.baseurl}}/assets/logo/jefworks_logo_white.svg"></span> {{ site.title }}
	    </a>

	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div id="navbar" class="collapse navbar-collapse navbar-right navbar-main-collapse">
	    <ul class="nav navbar-nav">

	    	<li class="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				About Us <b class="caret"></b>
			    </a>
			    <ul class="dropdown-menu">
					<li align="right">
					    <a href="{{ site.baseurl }}/mission">
						Our Mission
					    </a>
					    <a href="{{ site.baseurl }}/team">
						Meet the Team
					    </a>
					    <a href="{{ site.baseurl }}/lab">
						Lab Resources
					    </a>
					</li>
			    </ul>
			</li>

			<li>
			    <a href="{{ site.baseurl }}/publications">
			    Publications
			    </a>
			</li>

		<li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				Contributions <b class="caret"></b>
			</a>
		    <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown">
				<li align="right">
				    <a class="dropdown-item" href="{{ site.baseurl }}/software">
					Software
				    </a>
				    <a class="dropdown-item" href="{{ site.baseurl }}/teaching">
					Courses
				    </a>
				    <a class="dropdown-item" href="{{ site.baseurl }}/talks">
					Talks
				    </a>
				</li>
		    </ul>
		</li>

		<li>
		    <a href="{{ site.baseurl }}/join">
			Join
		    </a>
		</li>

		<li>
		    <a href="{{ site.baseurl }}/contact">
			Contact
		    </a>
		</li>

		<li>
		    <a href="{{ site.posts.first.url | prepend: site.baseurl }}">
		    Blog
			</a>
		</li>		

		</ul>
	</div>
</div>
</header>

