<div class="row">

    <h2> {{ page.title }} </h2>

    <h3> {{ page.authors }} </h3>

    <div align="center" style="padding: 10px">
	<img class="img-responsive" src="{{ page.image }}">
    </div>

    <b>Abstract:</b> {{ page.abstract }}
    <br><br>
    <b>Paper:</b> <a href="{{ page.journalurl }}" target="_blank"> {{ page.journal }} </a> |
    <a href="{{ page.pubmedurl }}" target="_blank"> Pubmed </a> |
    <a href="{{ page.pdfurl }}" target="_blank"> PDF </a>
    <br><br>
    {% if page.code != null %}    
    <b>Relevant code:</b> <a href="{{ page.code }}" target="_blank"> <i class="fa fa-lg fa-github"></i> </a>
    {% endif %} 

</div>
