---
layout: default
---

<div class="container">
    <div class="row">


        <div class="col-md-9">
	    <h1>{{ page.title }}</h1>
            <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
	    <hr>
            <div  id="markdown-content-container">{{ content }}</div>
            <hr>
            <ul class="pager">
                {% if page.previous %}
                <li class="previous">
                    <a href="{{ page.previous.url | prepend: site.baseurl }}">
                        <span aria-hidden="true">&larr;</span> Older
                    </a>
                </li>
                {% endif %} {% if page.next %}
                <li class="next">
                    <a href="{{ page.next.url | prepend: site.baseurl }}">
                      Newer <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

	<div class="col-md-3">
            <div class="well">
                <h4><a href="{{ site.baseurl }}/search/"><i class="fa fa-lg fa-search"></i> SEARCH</a></h4>
	    </div>
            <div class="well">
                <h4>RECENT POSTS</h4>
                <ul class="post-list-container">
                    {% for post in site.posts limit:10 %}
                    <li><a href="{{ post.url | prepend: site.baseurl }}" {% if page.title==post.title %} class="active" {% endif %}>
			{{ post.title }}
		    </a> on {{post.date | date_to_long_string }}</li>
                    {% endfor %}
                </ul>
                <a href="{{ "/allposts" | prepend: site.baseurl }}">All posts ...</a>
            </div>
	    <div class="well">
		<h4>TAGS</h4>
		<span class="post-meta__tags">
		    | {% for tag in page.tags %}
		    <a href="{{ site.baseurl }}/tags#{{ tag }}">
			{{ tag }}
		    </a> |
		    {% endfor %}
		</span>
	    </div>
            <div class="well">
                <h4>RELATED POSTS</h4>
		<ul class="post-list-container">
		    {% assign maxRelated = 4 %}
		    {% assign minCommonTags =  2 %}
		    {% assign maxRelatedCounter = 0 %}

		    {% for post in site.posts %}

		    {% assign sameTagCount = 0 %}
		    {% assign commonTags = '' %}

		    {% for tag in post.tags %}
		    {% if post.url != page.url %}
		    {% if page.tags contains tag %}
		    {% assign sameTagCount = sameTagCount | plus: 1 %}
		    {% assign commonTags = commonTags | append: tagmarkup %}
		    {% endif %}
		    {% endif %}
		    {% endfor %}
		    {% if sameTagCount >= minCommonTags %}
		    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
		    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
		    {% if maxRelatedCounter >= maxRelated %}
		    {% break %}
		    {% endif %}
		    {% endif %}

		    {% endfor %}
		</ul>		
            </div>	    
	    <div class="well">
		<h4>EXPLORE MORE POSTS</h4>
                <a href="{{ "/tags" | prepend: site.baseurl }}">by Tags</a> | 
                <a href="{{ "/archive" | prepend: site.baseurl }}">by Date</a>		
	    </div>
        </div>

    </div>
</div>
